.custom-container{
    width: 80%;
    margin: auto;
}
.form-tit{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #767676;
    position: relative;
}   
.form-tit::before{
    content: '';
    position: absolute;
    width: 20%;
    height: 4px;
    background: #44c4ce;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -14px;
}
.form-box{
    width: 80%;
    margin: auto;
}
.show-on-mob{
    display: none;
}
.show-on-mob a{
    background: #1c3780;
    color: white !important;
    padding: 4px 20px;
    border-radius: 30px;
}
@media only screen and (max-width : 991px) {
    .show-on-mob{
        display: block;
    }
    .form-tit {
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
        /* margin-top: 20px; */
        color: #767676;
        position: relative;
    }
    .w-30 {
        width: 100% !important;
    }
}